# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/.gitignore
calculator/.idea/.gitignore
calculator/.idea/misc.xml
calculator/.idea/module3.iml
calculator/.idea/modules.xml
calculator/.idea/uiDesigner.xml
calculator/.idea/vcs.xml
calculator/README.md
calculator/build.gradle
calculator/builders/.gradle/
calculator/builders/.idea/.gitignore
calculator/builders/.idea/compiler.xml
calculator/builders/.idea/encodings.xml
calculator/builders/.idea/gradle.xml
calculator/builders/.idea/jarRepositories.xml
calculator/builders/.idea/misc.xml
calculator/builders/.idea/modules/
calculator/builders/.idea/vcs.xml
calculator/builders/README.md
calculator/builders/admin/archives/admin-1.0-SNAPSHOT/META-INF/
calculator/builders/admin/archives/admin-1.0-SNAPSHOT/admin_config.properties
calculator/builders/admin/build.gradle
calculator/builders/admin/build/generated/
calculator/builders/admin/build/resources/
calculator/builders/admin/build/tmp/
calculator/builders/admin/pom.xml
calculator/builders/admin/src/
calculator/builders/build.gradle
calculator/builders/build/libs/META-INF/
calculator/builders/build/tmp/
calculator/builders/gradle/wrapper/gradle-wrapper.properties
calculator/builders/pom.xml
calculator/builders/services/build.gradle
calculator/builders/services/build/generated/
calculator/builders/services/build/resources/
calculator/builders/services/build/tmp/
calculator/builders/services/pom.xml
calculator/builders/services/src/
calculator/builders/settings.gradle
calculator/builders/utils/build.gradle
calculator/builders/utils/build/generated/
calculator/builders/utils/build/resources/
calculator/builders/utils/build/tmp/
calculator/builders/utils/pom.xml
calculator/builders/utils/src/
calculator/builders/web/build.gradle
calculator/builders/web/build/generated/
calculator/builders/web/build/resources/
calculator/builders/web/build/tmp/
calculator/builders/web/pom.xml
calculator/builders/web/src/
calculator/builders/web/target/classes/web_config.properties
calculator/builders/web/target/generated-sources/
calculator/builders/web/target/generated-test-sources/
calculator/builders/web/target/maven-archiver/
calculator/builders/web/target/maven-status/
calculator/builders/web/target/surefire-reports/
calculator/builders/web/target/test-classes/web_config_test.properties
calculator/builders/web/target/web-1.0-SNAPSHOT/META-INF/
calculator/builders/web/target/web-1.0-SNAPSHOT/WEB-INF/classes/web_config.properties
calculator/builders/web/target/web-1.0-SNAPSHOT/WEB-INF/web.xml
calculator/builders/web/target/web-1.0-SNAPSHOT/hello.jsp
calculator/config/
calculator/gradle/wrapper/gradle-wrapper.properties
calculator/gradlew
calculator/gradlew.bat
calculator/src/
